<!-- [1 Preemptively warm up the fonts’ origin] -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- Font loading with media query fallback -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Mono&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap" media="print" onload="this.media='all'">
  <noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Mono&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap">
  </noscript>
