<header class="c-header">
  <div class="c-header__box">
    <div class="c-search">
      <div class="c-search__box">
        <label for="js-search-input" class="u-screen-reader-text">Pesquisa</label>
        <input type="search" id="js-search-input" class="c-search__text" placeholder="Pesquisa..." aria-label="Campo de pesquisa" aria-controls="js-results-container" aria-autocomplete="list" aria-expanded="false" aria-activedescendant="js-result-selected">
        <div role="img" aria-label="Ícone de pesquisa" data-icon='ei-search' data-size='s'></div>
        </div>
        <ul id="js-results-container" class="c-search-results-list" role="listbox" aria-live="polite" aria-labelledby="js-results-container"></ul>
    </div>
    <div class="c-nav">
      <ul class="c-nav__list u-lists-reset">
        <li class="c-nav__item is-active">
          <div data-icon='ei-pencil' data-size='s'></div> Artigos</li>
        <li class="c-nav__item">
          <div data-icon='ei-star' data-size='s'></div> Categorias</li>
      </ul>
    </div>
  </div>
</header> <!-- /.c-header -->
