<meta name="application-name" content="nunogand"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="{{site.baseurl}}/images/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="{{site.baseurl}}/images/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="{{site.baseurl}}/images/favicon/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="{{site.baseurl}}/images/favicon/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="{{site.baseurl}}/images/favicon/mstile-310x310.png" />
