/* ===============
	LINKS
=============== */

a {
    text-decoration: underline;
    color: $link-color;
    transition: $global-transition;

    &:hover {
        color: $link-color-hover;
    }

}
