---
layout: home
---
{% include header.html %}
<div class="c-posts o-opacity">
  {% for post in site.categories[page.title] %}
  <article class="c-post">
    {% if post.img %}
    <a class="c-post-thumbnail" style="background-image: url({{"/images/" | prepend: site.baseurl | append : post.img}})"
      href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %} {% endif %}
    <div class="c-post-content">
      <h2 class="c-post-title">
        <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
      </h2>
      <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
      {% include data.html %}
      {% include leitura.html %}
    </div>
  </article>
  {% endfor %}
</div> <!-- /.c-posts -->
{% include categories.html %}
