---
layout: home
---
{% include header.html %}
<section class="c-posts o-opacity" aria-label="Artigos">
  {% for post in site.categories[page.title] %}
  <article class="c-post">
    {% if post.img %}
    <a class="c-post-thumbnail" style="background-image: url({{"/images/" | prepend: site.baseurl | append : post.img}})"
      href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %} {% endif %}
    <div class="c-post-content">
      <h2 class="c-post-title">
        <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
      </h2>
      <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
      {% include data.html %}
        <span class="c-post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words |
          plus: 250 | divided_by: 250 | append: " minuto(s) de leitura" }}{% endunless %}</span>
    </div>
  </article>
  {% endfor %}
</section> <!-- /.c-posts -->
{% include categories.html %}
