---
layout: home
---
<article class="c-article">
  <div class="c-article__content">
    <header class="c-header u-hide u-no-margin-top">
      <div class="c-header__box">
        <div class="c-search u-full-width">
          <div class="c-search__box">
            <label for="js-search-input" class="u-screen-reader-text">Pesquisa</label>
                        <input type="text" id="js-search-input" class="c-search__text" autocomplete="off" placeholder="Type to search..." aria-label="Campo de pesquisa" aria-expanded="false" aria-controls="resultados">
            <div role="img" aria-label="Ícone de pesquisa" data-icon='ei-search' data-size='s'></div>
          </div>
  <ul id="resultados" class="c-search-results-list" role="listbox" aria-live="polite"></ul>
        </div>
      </div>
    </header>
    {% if page.img %}
    <div class="c-article__image o-opacity" style="background-image: url( {{"/images/" | prepend: site.baseurl | append : page.img}} )"></div>
    {% else %}
    {% endif %}
    <div class="c-wrap-content">
      <header class="c-article__header">
        <h1 class="c-article__title">{{page.title}}</h1>
        <div class="c-article__date">
          <time datetime="{{page.date}}">
          <!--  {{page.date | date: '%Y, %b %d'}} -->
          {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }}
{% case m %}
  {% when '1' %}Janeiro
  {% when '2' %}Fevereiro
  {% when '3' %}Março
  {% when '4' %}Abril
  {% when '5' %}Maio
  {% when '6' %}Junho
  {% when '7' %}Julho
  {% when '8' %}Agosto
  {% when '9' %}Setembro
  {% when '10' %}Outubro
  {% when '11' %}Novembro
  {% when '12' %}Dezembro
{% endcase %}
{{ page.date | date: "%Y" }}
         </time>
        </div>
      </header>
      {{content | markdownify}}
      <div class="c-article__footer u-clearfix">
        <div class="c-article__tag">
          {% for tag in page.tags %}
          <a href="{{site.baseurl}}/tags#{{tag}}">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
        <div class="c-article__share">
          <a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ page.url }}" title="Share
          on Twitter" rel="nofollow" target="_blank"><div data-icon='ei-sc-twitter' data-size='s'></div></a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><div data-icon='ei-sc-facebook' data-size='s'></div></a>
          </div>
      </div>
    </div> <!-- .c-wrap-content -->
  </div> <!-- .c-article__content -->
</article> <!-- .c-article-page -->
