@use "../0-settings/colors";
@use "../0-settings/global";

@use 'sass:color';
/* ===============
	POST
=============== */
@use "sass:color" as posts;
.c-posts {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.c-post {
  width: 100%;
  max-width: 100%;
  content-visibility: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 180px;
  border-radius: 10px;
  overflow: hidden;
  transition: global.$global-transition;
  background-color: colors.$white-color;
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);
  &:hover {
    transform: translate(0px, -2px);
    box-shadow: 0 15px 45px -10px rgba(10, 16, 34, .2)
  }
  .c-post-thumbnail {
    display: block;
    width: 30%;
    max-width: 100%;
    min-height: 180px;
    border-radius: 10px 0 0 10px;
    background-color: rgba(220,235,245,0.2);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .c-post-content {
    padding: 15px;
    width: 70%;
    .c-post-title {
      font-size: 20px;
      font-weight: 400;
      margin: 0 0 15px;
      a {
        text-decoration: none;
        color: colors.$blue-dark;
      }
    }
    .c-post-date {
	  color: #8d7edc;
	  font-size: 12px;}
    .c-post-words {
      font-size: 12px;
	color: #42b983;
    }
  }
}

.c-load-more {
  padding: 20px;
  margin: 20px auto 40px;
  font-size: 13px;
  color: colors.$white-color;
  border: none;
  background-color: colors.$primary-color;
  outline: none;
  &:hover {
    background-color: color.adjust(colors.$primary-color, $lightness: -15%);
    }
}

@media only screen and (max-width: 1200px) {
  .c-post {
    width: 48%;
    max-width: 100%;
    margin: 0 1% 20px;
    flex-direction: column;
    .c-post-thumbnail {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
    .c-post-content {
      width: 100%;
      .c-post-title {
        font-size: 21px;
        margin: 15px 0;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .c-post {
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px;
    .c-post-content {
      width: 100%;
      .c-post-title {
        font-size: 21px;
        margin: 15px 0;
      }
    }
  }
}
