@use "../0-settings/colors";
@use "../0-settings/global";
/* ===============
	SCROLL TOP
=============== */
.c-top {
  position: fixed;
  width: 40px;
  height: 40px;
	bottom: 20px;
  color: colors.$gray-dark;
	cursor: pointer;
	transition: global.$global-transition;
	right: -100px;
	z-index: 10;
  opacity: .5;
  &--active {
    right: 15px;
  }
  &:hover {
    color: colors.$gray-dark;
		opacity: 1;
  }
}